annotated-types==0.6.0
anyio==3.7.1
app==0.0.1
asgiref==3.6.0
axios==0.4.0
base58==2.1.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.22.0
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.0.3
cmake==3.26.1
contourpy==1.0.7
cryptography==37.0.4
cycler==0.11.0
Cython==0.29.33
deprecation==2.1.0
distro==1.8.0
Django==4.1.7
django-cors-headers==3.14.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
easydict==1.10
exceptiongroup==1.2.0
fastapi==0.105.0
filelock==3.10.7
Flask==2.0.2
Flask-Compress==1.13
Flask-Mail==0.9.1
Flask-SocketIO==5.2.0
Flask-SQLAlchemy==2.5.1
fonttools==4.39.2
h11==0.14.0
homebrew==0.2.5
idna==3.4
image==1.5.33
img2pdf==0.4.4
imutils==0.5.4
ipfshttpclient==0.7.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.2.0
kiwisolver==1.4.4
lightgbm==3.3.5
lmdb==1.4.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.7.1
mdurl==0.1.2
mpmath==1.3.0
multiaddr==0.0.9
Naked==0.1.31
netaddr==0.8.0
networkx==3.0
numpy==1.24.2
opencv-python==4.7.0.72
optional-django==0.3.0
packaging==23.0
pandas==2.0.0
php==1.2.1
pikepdf==8.4.0
Pillow==9.4.0
pyAesCrypt==6.0.0
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.4.3
pycryptodomex==3.14.1
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.16.1
PyJWT==1.7.1
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.3.4
python-socketio==5.7.1
python-version==0.0.2
pytz==2022.7.1
PyX==0.16
PyYAML==6.0
react==4.3.0
requests==2.28.2
rich==13.5.3
scapy==2.5.0
scikit-learn==1.2.2
scipy==1.10.1
shellescape==3.8.1
six==1.16.0
sklearn==0.0.post1
sniffio==1.3.0
solc==0.0.0a0
soupsieve==2.5
SQLAlchemy==1.4.31
sqlparse==0.4.3
starlette==0.27.0
sympy==1.11.1
threadpoolctl==3.1.0
torch==2.0.0
torchvision==0.15.1
typing_extensions==4.9.0
tzdata==2022.7
urllib3==1.26.15
uvicorn==0.25.0
varint==1.0.2
Werkzeug==2.0.3
wsl==0.12
